nav {
    height: 124px;
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 32px;
    align-items: center;
}

.nav {
    display: flex;
}

.logo {
    color:#3563E9;
    font-family: 'Plus Jakarta Sans';
    font-size: 32px;
    font-weight: 700;
    line-height: 150%; /* 48px */
    letter-spacing: -0.96px;
    margin: 0;
}

.search {
    width: 492px;
    height: 44px;
    border-radius: 70px;
    border: 1px solid rgba(195, 212, 233, 0.40);
    background-color: white;
    left: 84px;
}

.srch {
    position: relative;
}